
.mention {
 background: linear-gradient(160deg, rgba(243,33,176,0.25) , rgba(0, 0, 0, 0)) !important;
}

 
#messages .cm:nth-child(odd).mention {
    background: linear-gradient(160deg, rgba(243,33,176,0.25) , rgba(0, 0, 0, 0)) !important;
}

.userDialogButtons .button {
    background-color: #0E0E0E;
}

.userDialogInfo {
    background:linear-gradient(160deg, rgb(2, 2, 2) , rgba(0, 0, 0, 0.3));
}

.userDialogButtons .button:hover {
    background-color: #7a0099 !important;
}

.vid-hover-btn {
    background: rgba(218, 77, 255, 0.5) !important;
}

#img {
    background-image:url("http://i.4cdn.org/w/1449235459858.png") !important;
}
div#menu {
    background-color: #cc6699 !important;
    border-right:2px solid #660066; !important;
}

#progress {
background-color: #A52A2A;
-moz-box-shadow: 0px 74px 15px #F31C1C; 
-webkit-box-shadow: 0px 74px 15px #F31C1C; 
box-shadow: 0px 74px 15px #F31C1C;
}

.navbar {
background:url("http://www.f-covers.com/cover/cute-anime-doodles-facebook-cover-timeline-banner-for-fb.jpg")
}

.footer {
    border-top: 2px solid #9932CC;
    -moz-box-shadow: 0px -10px 70px #000000; 
    -webkit-box-shadow: 0px -10px 70px #000000; 
    box-shadow: 0px -10px 70px #000000;
}

.header {
   border-bottom: 2px solid #9932CC;    
}

button {
    background: #a32979;
}

#btn-mute {
    background-color: #B22222;
}

.app-right-selector.selected {
    background-color: #da4dff;
}

.app-right-selector {
    background-color: #020202;
}
/*default*/
.uname.rank-0 {
}
    .icon-4513 { background: url("http://i.imgur.com/Wx1mxBn.png")
 } 

/*vip*/
.uname.rank-1 {
     color: #ff007e !important;   
}
/*rdj*/
.uname.rank-2 {
    color: #bf4080 !important;
}
/*d*/
.uname.rank-3 {
    color: #d88db4 !important;
}
/*b*/
.uname.rank-4 {
    color: #862d59 !important;
}

/*m*/
.uname.rank-6 {
    color: #ff3333 !important;
}
/*ch*/
.uname.rank-7 {
    color: #ff3333 !important;
}
/*h*/
.uname.rank-8 {
    color: #ff1ac4 !important;
}
/*a*/
.uname.rank-10 {
    color: #660033  !important;
}
.icon-rank-10 {
 background: url("http://icons.iconarchive.com/icons/ilicon/the-circus/16/cotton-candy-icon.png") !important;
}
div.notification .notif-title {
    background-color: #36A100;!important;
}

div.notification .notif-content {
    background: #020202 !important;
}

#ratingbuttons #wootcontainer {
    background-color: #020202;
}

#ratingbuttons #grabcontainer {
    background-color: #020202;
}

#ratingbuttons #mehcontainer {
    background-color: #020202;
}

.active {
    background-color: #5DC300;
}

 .promote-dialog-btn.selected-rank { 
     background: #5DC300;
 }
 
 #notif-promote .fa-check {
    color: #5DC300;
}


div.menu-tile:hover {
    background-color: rgba(145, 145, 145, 0.5) !important
}


#ratingbuttons #btn-woot.active, #ratingbuttons #btn-meh.active {
    background-color: #020202;
}

#app-right {
    background: #0c0c0c;
}

#room-title {
    content:url("http://i.imgur.com/eIcYIEd.png") !important;
}

#notif-mute .notif-title {
    background: #5DC300;
}

.mute-dialog-btn:hover {
    background-color: #5DC300;
}
.promote-dialog-btn:hover, #notif-promote:hover #ok-btn:hover {
    background-color: #990098;
}
.btn-no:hover {
    box-shadow: inset 0 -8px 0 0 rgb(255, 68, 0);
    background-color: #990098;
}
.btn-yes:hover {
    box-shadow: inset 0 -8px 0 0 rgba(58, 255, 0, 0.63);
    background-color: #990098;
}

/*#player {
   -webkit-animation: glow3 1.5s infinite alternate;
   -moz-animation: glow3 1.5s infinite alternate;
}*/
/*// you meant this right? we didn't do it twice?*/
#player {
}

.uname.rank {
    color: white !important;
}
.uname.rank-0 {
    color: white !important;
}

input[type=text] {
    background: #000000;
}

.media-info>div>div {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}

.notification .notif-content {
    background-color: #170F00 !important;
}

#volumePercent {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}

#ratingbuttons #grab-playlists {
    background-color: black;
}

#active-song .label, #active-song .title {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}

p.username {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}

#profile .username {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}

#level {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}

#chat {
    background-image: url("http://i.imgur.com/O8x4CgX.png");
    background-repeat: no-repeat;
    background-position: 5em;
}   

.cbp-spmenu-left.cbp-spmenu-open {
    background: url("http://31.media.tumblr.com/daab822cbbbc60ecb95edb478a14f5b2/tumblr_mnsdq8BU031su31alo1_r1_1280.gif");
    background-repeat: no-repeat;
}

div.menu-tile {
    border-bottom: none !important; 
}

#time-left {
    background: rgba(163, 41, 121, 0.79);
    font-weight: bold;
}
.notif-title { 
 background-color: #a32979 !important;
}
 
#showLeft {
  background: rgba(163, 41, 121, 0.79);
}

.uk-progress-bar {
  background: #da4dff;
}

.exp-meter {
 background: #a32979;
}

#profile-settings {
 background-color: rgba(163, 41, 121, 0.79);
}


/* NCS Loli Counter */


#loli-counter {
        position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 3px; 
    background: rgba(0,0,0,0.6); 
    font-size: 17px; 
    font-family: arial, sans-serif;
    border: 2px #DC80E1;
    border-style: solid;
    opacity: .3;
    box-shadow: 0px 0px 30px #DC80E1;
    -moz-box-shadow: 0px 0px 30px #DC80E1; 
    -webkit-box-shadow: 0px 0px 30px #DC80E1; 
}


