
.mention {
 background: linear-gradient(160deg, rgba(75, 243, 33, 0.25) , rgba(0, 0, 0, 0)) !important;
}

 
#messages .cm:nth-child(odd).mention {
    background: linear-gradient(160deg, rgba(75, 243, 33, 0.25) , rgba(0, 0, 0, 0)) !important;
}

.userDialogButtons .button {
    background-color: #0E0E0E;
}

.userDialogInfo {
    background:linear-gradient(160deg, rgb(2, 2, 2) , rgba(0, 0, 0, 0.3));
}

.userDialogButtons .button:hover {
    background-color: #133800 !important;
}

.vid-hover-btn {
    background: rgba(31, 106, 0, 0.5) !important;
}

#img {
    background-image:url("http://i.4cdn.org/w/1449235459858.png") !important;
}
div#menu {
    background-color: #170F00 !important;
    border-right:2px solid #5DC300; !important;
}

#progress {
background-color: #5DC300;
}

.navbar {
background:url("http://www.f-covers.com/cover/cute-anime-doodles-facebook-cover-timeline-banner-for-fb.jpg")
}

.footer {
    border-top: 2px solid #5DC300;
}

.header {
   border-bottom: 2px solid #5DC300;    
}

button {
    background: #133800;
}

#btn-mute {
    background-color:  #B22222;
}

.app-right-selector.selected {
    background-color: #5DC300;
}

.app-right-selector {
    background-color: #020202;
}
/*default*/
.uname.rank-0 {
    
}
/*vip*/
.uname.rank-1 {
     color: #00FF50 !important;   
}
/*rdj*/
.uname.rank-2 {
    color: #528c00 !important;
}
/*d*/
.uname.rank-3 {
    color: #6cb700 !important;
}
/*b*/
.uname.rank-4 {
    color: #86e300 !important;
}

/*m*/
.uname.rank-6 {
    color: #ffba00 !important;
}
/*ch*/
.uname.rank-7 {
    color: #ff9600 !important;
}
/*h*/
.uname.rank-8 {
    color: #a90000 !important;
}
/*a*/
.uname.rank-10 {
    color: #cb0000  !important;
}

.icon-rank-10 {
    background: url("http://i.imgur.com/njfJTaj.png") !important;
}

div.notification .notif-title {
    background-color: #36A100;!important;
}

div.notification .notif-content {
    background: #020202 !important;
}

#ratingbuttons #wootcontainer {
    background-color: #020202;
}

#ratingbuttons #grabcontainer {
    background-color: #020202;
}

#ratingbuttons #mehcontainer {
    background-color: #020202;
}

.active {
    background-color: #5DC300;
}

 .promote-dialog-btn.selected-rank { 
     background: #5DC300;
 }
 
 #notif-promote .fa-check {
    color: #5DC300;
}


div.menu-tile:hover {
    background-color: rgba(145, 145, 145, 0.5) !important
}


#ratingbuttons #btn-woot.active, #ratingbuttons #btn-meh.active {
    background-color: #020202;
}

#app-right {
    background: #0c0c0c;
}

#room-title {
    content:url("http://i.imgur.com/XpqEV64.png") !important;
}

#notif-mute .notif-title {
    background: #5DC300;
}

.mute-dialog-btn:hover {
    background-color: #5DC300;
}
.promote-dialog-btn:hover, #notif-promote:hover #ok-btn:hover {
    background-color: #5DC300;
}
.btn-no:hover {
    box-shadow: inset 0 -8px 0 0 rgb(255, 68, 0);
    background-color: #5DC300;
}
.btn-yes:hover {
    box-shadow: inset 0 -8px 0 0 rgba(58, 255, 0, 0.63);
    background-color: #5DC300;
}

/*#player {
   -webkit-animation: glow3 1.5s infinite alternate;
   -moz-animation: glow3 1.5s infinite alternate;
}*/
/*// you meant this right? we didn't do it twice?*/
#player {
}

.uname.rank {
    color: white !important;
}
.uname.rank-0 {
    color: white !important;
}

input[type=text] {
    background: #000000;
}

.media-info>div>div {
    background: rgba(4, 25, 0, 0.79);
    font-weight: bold;
}

.notification .notif-content {
    background-color: #170F00 !important;
}

#volumePercent {
    font-weight: bold;
    background: rgba(4, 25, 0, 0.79);
}
}

#ratingbuttons #grab-playlists {
    background-color: black;
}

#active-song .label, #active-song .title {
    background: rgba(4, 25, 0, 0.79);
    font-weight: bold;
}

p.username {
    background: rgba(4, 25, 0, 0.79);
    font-weight: bold;
}

#profile .username {
    background: rgba(4, 25, 0, 0.79);
    font-weight: bold;
}

#level {
    background: rgba(4, 25, 0, 0.79);
    font-weight: bold;
}

#chat {
    background-image: url("http://i.imgur.com/Uej2ByM.png");
    background-repeat: no-repeat;
    background-position: 5em;
}   

.cbp-spmenu-left.cbp-spmenu-open {
    background: url("http://31.media.tumblr.com/daab822cbbbc60ecb95edb478a14f5b2/tumblr_mnsdq8BU031su31alo1_r1_1280.gif");
    background-repeat: no-repeat;
}

div.menu-tile {
    border-bottom: none !important; 
}

#time-left {
    font-weight: bold;
    color:  #DC143C;
}
